# CDK
cdk.out/
*.pyc
__pycache__/
*.py[cod]
*$py.class

# Type checking
.mypy_cache

# Virtual Environment
.venv/
venv/
ENV/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Testing
/tmp/
*.log
mysql-ssl-ca/

# Source Code
openemr-master
openemr-devops-master